/* Global variables */

:root {
  /* Fonts */
  --font-main: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;

  /* Letter Spacing */
  --letter-spacing-sm: 0.02em;
  --letter-spacing-md: 0.03em;
  --letter-spacing-lg: 0.04em;

  /* Transition */
  --transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: 46, 47, 66;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --dairy: #fcfcfc;
  --white: #fff;
  --black: 0, 0, 0;

  /* Color Variables  */
  --color-primary: var(--iris);
  --color-pressed: var(--ocean);
  --color-dark: var(--navy-blue);
  --color-success: var(--green);
  --color-text: var(--slate);
  --color-subtitle: var(--light-slate);
  --color-accent: var(--cornflower);
  --color-light: var(--cloud);
  --color-overlay: var(--navy-blue-modal);
  --color-light-background: var(--dairy);
  --color-white: var(--white);
  --color-black: var(--black);
}

/* Main styles */

body {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-text);
}

h1,
h2,
h3 {
  margin-top: 0;
  color: rgb(var(--color-dark));
}

h1 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
}

@media (min-width: 768px) {
  h1 {
    text-transform: none;
    font-size: 56px;
    stroke-linejoin: 1.07;
  }
}

h2 {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-fast);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
}

address {
  font-style: normal;
}

input {
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  outline: 0;
  outline-offset: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-sm {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-lg);
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-lg);
}

.btn-primary {
  padding: 16px 32px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(var(--color-black), 0.15);
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: background-color var(--transition-fast);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-pressed);
}

.btn-light {
  padding: 11px 23px;
  border: 1px solid var(--color-accent);
  background-color: var(--color-light);
  color: var(--color-primary);
  transition: var(--transition-fast);
  transition-property: border-color, box-shadow, background-color, color;
}

.btn-light:hover,
.btn-light:focus {
  border-color: var(--color-pressed);
  box-shadow: 0 2px 2px 0 rgba(var(--color-black), 0.12),
    0 2px 1px 0 rgba(var(--color-black), 0.08),
    0 3px 1px 0 rgba(var(--color-black), 0.1);
  background-color: var(--color-pressed);
  color: var(--color-white);
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

/* Social */
.social-list {
  display: flex;
  gap: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-light);
  transition: background-color var(--transition-fast);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-success);
}

.social-icon {
  fill: currentColor;
}

/* Header */
.header {
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0 1px 6px 0 rgba(var(--color-dark), 0.08),
    0 1px 1px 0 rgba(var(--color-dark), 0.16),
    0 2px 1px 0 rgba(var(--color-dark), 0.08);
}

.header-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 767px) {
  .header-holder {
    padding: 24px 0;
  }
}

/* Logo */

.logo {
  text-transform: uppercase;
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-md);
  color: rgb(var(--color-dark));
}

.logo-accent {
  color: var(--color-primary);
}

/* Nav */
.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

@media (min-width: 1158px) {
  .nav {
    margin: 0 auto 0 46px;
  }
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: rgb(var(--color-dark));
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-pressed);
  opacity: 0;
  transition: opacity var(--transition-fast);
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: var(--color-pressed);
}

.nav-link.active::after {
  opacity: 1;
}

/* Contacts */
.contacts-list {
  display: none;
}

@media (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
  }
}

@media (min-width: 1158px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-pressed);
}

/* Mobile Menu */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: var(--color-white);
  box-shadow: 0 1px 6px 0 rgba(var(--color-dark), 0.08),
    0 1px 1px 0 rgba(var(--color-dark), 0.16),
    0 2px 1px 0 rgba(var(--color-dark), 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: var(--transition-fast);
  transition-property: transform;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-overlay);
  transition: var(--transition-fast);
  transition-property: border-color, background-color, color;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  border-color: var(--color-pressed);
  background-color: var(--color-pressed);
  color: var(--color-white);
}

.mobile-menu-close-icon {
  fill: currentColor;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--color-overlay);
}

.mobile-menu-link.active,
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--color-pressed);
}

.mobile-contacts {
  margin-top: 40px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.mobile-contacts-phone {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--color-primary);
}

.mobile-social-list {
  justify-content: space-between;
  max-width: 328px;
  margin-top: 48px;
}

/* Hero Section */

.hero {
  padding: 112px 0;
  background: linear-gradient(
      to bottom,
      rgba(var(--color-dark), 0.7),
      rgba(var(--color-dark), 0.7)
    ),
    url('../images/hero/people-office_mobile.jpg') no-repeat center top / cover;
}

@media only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--color-dark), 0.7),
        rgba(var(--color-dark), 0.7)
      ),
      url('../images/hero/people-office_mobile@2x.jpg');
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--color-dark), 0.7),
        rgba(var(--color-dark), 0.7)
      ),
      url('../images/hero/people-office_tablet.jpg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(var(--color-dark), 0.7),
          rgba(var(--color-dark), 0.7)
        ),
        url('../images/hero/people-office_tablet@2x.jpg');
    }
  }
}

@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--color-dark), 0.7),
        rgba(var(--color-dark), 0.7)
      ),
      url('../images/hero/people-office.jpg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(var(--color-dark), 0.7),
          rgba(var(--color-dark), 0.7)
        ),
        url('../images/hero/people-office@2x.jpg');
    }
  }
}

.hero-headline {
  color: var(--color-white);
}

.hero-btn {
  margin-top: 72px;
}

@media (min-width: 768px) {
  .hero-btn {
    margin-top: 36px;
  }
}

@media (min-width: 1158px) {
  .hero-btn {
    margin-top: 48px;
  }
}

/* Features Section */
.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.features-icon-holder {
  display: none;
}

@media (min-width: 1158px) {
  .features-icon-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px;
    border-radius: 4px;
    background-color: var(--color-light);
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.features-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

@media (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

/* Services Section */

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .services-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
  }
}

@media (min-width: 1158px) {
  .services-list {
    gap: 24px;
  }
}

.services-item {
  max-width: 360px;
}

@media (min-width: 768px) {
  .services-item {
    max-width: initial;
    flex-basis: calc((100% - 36px) / 2);
  }
}

@media (min-width: 1158px) {
  .services-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.services-img {
  width: 100%;
}

/* Team Section */

.team {
  background-color: var(--color-light);
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    max-width: 552px;
    margin: 0 auto;
  }
}

@media (min-width: 1158px) {
  .team-list {
    max-width: 100%;
  }
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(var(--color-dark), 0.08),
    0 1px 1px 0 rgba(var(--color-dark), 0.16),
    0 1px 6px 0 rgba(var(--color-dark), 0.08);
  background-color: var(--color-white);
}

.team-info {
  padding: 32px 16px;
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
}

.team-social {
  justify-content: space-between;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-pressed);
}

/* Customers */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  max-width: 396px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
    max-width: 552px;
  }
}

@media (min-width: 1158px) {
  .customers-list {
    max-width: 100%;
  }
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
}

@media (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid var(--color-subtitle);
  border-radius: 4px;
  color: var(--color-subtitle);
  transition: var(--transition-fast);
  transition-property: border-color, color;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-pressed);
  color: var(--color-pressed);
}

.customers-icon {
  fill: currentColor;
}

/* Portfolio Section */
.portfolio {
  padding-top: 96px;
}

.portfolio-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  background-color: var(--color-white);
  transition: box-shadow var(--transition-fast);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0 2px 1px 0 rgba(var(--color-dark), 0.08),
    0 1px 1px 0 rgba(var(--color-dark), 0.16),
    0 1px 6px 0 rgba(var(--color-dark), 0.08);
}

.portfolio-link:hover .portfolio-info,
.portfolio-link:focus .portfolio-info {
  border-color: var(--color-light);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: none;
  visibility: visible;
}

.portfolio-block {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-overlay {
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  padding: 40px 32px;
  background-color: var(--color-primary);
  color: var(--color-light);
  visibility: hidden;
  transition: var(--transition-fast);
  transition-property: transform, visibility;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
  transition: border-color var(--transition-fast);
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

/* Footer */

.footer {
  padding: 96px 0;
  background-color: rgb(var(--color-dark));
}

@media (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .footer-holder {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
    max-width: 552px;
    margin: 0 auto;
  }
}

@media (min-width: 1158px) {
  .footer-holder {
    gap: 80px;
    max-width: 100%;
  }
}

.footer-info {
  max-width: 268px;
  color: var(--color-light);
}

@media (min-width: 1158px) {
  .footer-info {
    margin-right: auto;
  }
}

.footer-logo {
  display: block;
  color: inherit;
}

@media (max-width: 767px) {
  .footer-logo,
  .footer-headline {
    text-align: center;
  }
}

.footer-text {
  margin-top: 16px;
}

.footer-headline {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-white);
}

@media (max-width: 1157px) {
  .footer-subscribe {
    width: 100%;
  }
}

/* Subscribe Form */
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    align-items: initial;
    gap: 24px;
  }
}

.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(var(--color-black), 0.15);
  font-size: 12px;
  letter-spacing: var(--letter-spacing-lg);
  color: var(--color-white);
  transition: var(--transition-fast);
  transition-property: border-color;
  outline: none;
}

@media (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-input:focus {
  border-color: var(--color-primary);
}

.subscribe-form-input::placeholder {
  color: var(--color-white);
}

.subscribe-form-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  box-shadow: none;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--color-dark), 0.4);
  transition: var(--transition-fast);
  transition-property: visibility, opacity;
  transition-delay: 0s;
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-delay: 0.3s;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 36px);
  max-width: 408px;
  max-height: calc(100vh - 36px);
  padding: 72px 16px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(var(--color-black), 0.2),
    0 1px 3px 0 rgba(0var (--black), 0.12),
    0 1px 1px 0 rgba(var(--color-black), 0.14);
  background-color: var(--color-light-background);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.21, 1.5);
  transition-property: transform, opacity;
  transition-delay: 0.3s;
}

@media (min-width: 768px) {
  .modal-window {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal.is-hidden .modal-window {
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 0;
  transition-delay: 0s;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(var(--color-black), 0.1);
  border-radius: 50%;
  background-color: var(--color-accent);
  color: var(--color-overlay);
  transition: var(--transition-fast);
  transition-property: border-color, background-color, color;
}

.modal-close:hover,
.modal-close:focus {
  border-color: var(--color-pressed);
  background-color: var(--color-pressed);
  color: var(--color-white);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-headline {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--color-overlay);
}

/* Order Form */

.order-form-label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-lg);
  color: var(--color-subtitle);
}

.order-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(var(--color-dark), 0.4);
  border-radius: 4px;
  line-height: 1.17;
  letter-spacing: inherit;
  color: var(--color-text);
  transition: var(--transition-fast);
  transition-property: border-color;
  outline: none;
}

.order-form-input:focus {
  border-color: var(--color-primary);
}

.order-form-input::placeholder {
  color: rgba(var(--color-dark), 0.4);
}

.order-form-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
  transition: var(--transition-fast);
  transition-property: fill;
}

.order-form-input:focus + .order-form-icon {
  fill: var(--color-primary);
}

textarea.order-form-input {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.order-form-checkbox {
  margin: 16px 0 24px;
}

.order-form-checkbox-holder {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border: 1px solid rgba(var(--color-dark), 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: var(--transition-fast);
  transition-property: border-color, background-color;
}

input[type='checkbox']:checked + .order-form-checkbox-holder {
  border-color: var(--color-pressed);
  background-color: var(--color-pressed);
}

input[type='checkbox']:focus-visible + .order-form-checkbox-holder {
  outline: rgb(var(--color-black)) solid 2px;
}

.order-form-checkbox-icon {
  opacity: 0;
  transition: var(--transition-fast);
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .order-form-checkbox-holder
  .order-form-checkbox-icon {
  opacity: 1;
}

.order-form-checkbox-text {
  display: inline-block;
}

.order-form-checkbox-text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-primary);
}

.order-form-checkbox-text a:hover,
.order-form-checkbox-text a:focus {
  color: var(--color-pressed);
}

.order-form-btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
}
